body {
  background: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}

.product-page {
  display: flex;
  gap: 20px;
  padding: 30px;
  position: relative;
}

/* Sidebar */

.sidebar {
  width: 260px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  height: max-content;
}

.breadcrumb {
  font-size: 13px;
  margin-bottom: 20px;
  position: absolute;
  top: 0.4rem;
  font-size: 1rem;
  left: 2rem;
  color: #111;
  font-weight: bold;
}

.filter-box {
  margin-bottom: 25px;
  padding-bottom: 18px;
  border-bottom: 1px solid #eee;
}

.filter-box h4 {
  font-size: 16px;
  margin-bottom: 12px;
}

.filter-box ul {
  list-style: none;
}

.filter-box li,
.filter-box label {
  display: block;
  font-size: 14px;
  color: #444;
  margin-bottom: 10px;
  cursor: pointer;
}

.filter-box input[type="checkbox"],
.filter-box input[type="radio"] {
  margin-right: 8px;
}

.filter-box input[type="range"] {
  width: 100%;
  margin: 10px 0;
}

.price-inputs {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.price-inputs input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.filter-box button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #111;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* Products */

.products-section {
  flex: 1;
}

.top-bar {
  background: white;
  padding: 16px 20px;
  border-radius: 10px;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.top-actions select,
.top-actions button {
  padding: 8px 12px;
  border: 1px solid #ddd;
  background: white;
  border-radius: 6px;
  cursor: pointer;
}

/* Grid */

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.08);
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
}

.card h3 {
  margin: 12px 0 8px;
  font-size: 20px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  color: orange;
  font-size: 14px;
  margin-bottom: 8px;
}

.rating span {
  color: #666;
  margin-left: 8px;
}

.card p {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}

/* Responsive */

@media (max-width: 992px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .product-page {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .top-bar {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .product-grid {
    grid-template-columns: 1fr;
  }
}
